/*for footer*/
html {
    position: relative;
    min-height: 100%;
  }
  body {
    background:rgb(244, 247, 244);
    margin-bottom: 22px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px; /* Set the fixed height of the footer here */
    background: rgba(17, 175, 17, 0.753);
    padding-top: 8px;
   }
   /*end footer*/
  
p.bigp{
    
    font-size: 28px;
       
}
p.alg{
    text-align: center;
   
}

.topheader{
    background:rgba(17, 175, 17, 0.753);
    height:100px; 
    width:auto;
}